.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

cmake-build-debug/

**/a.out
clipboard
**/y.o
**/y.tab.c
**/y.tab.h
**/logtemplatecode.txt
**/lex.yy.c
**/I.o
**/l.o
spec/

**/1605115/
**/1605115.zip
**/log.txt
